@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer base {
  html,
  body,
  #root,
  .app {
    height: 100%;
    width: 100%;
    @apply text-sm;
    @apply bg-white;
    @apply dark:bg-black;
  }
}

@theme {
  /* blue-primary */
  --color-primary: #2979ff;

  /* dark-secondary */
  --color-secondary: #1d1f21;

  /* dark-bg */
  --color-dark: #101214;

  /* dark-tertiary */
  --color-tertiary: #101214;

  /* stroke-dark */
  --color-stroke: #2d3135;
}